@layer base {
  /* Elements */
  ::selection {
    background-color: hsl(from var(--color-lime-300) h s l / 0.38);
    color: var(--color-slate-500);
  }

  body {
    background-color: var(--color-amber-50);
  }

  nav {
    font-family: var(--ff-extra);
  }

  label {
    cursor: pointer;
  }
}

@custom-variant hocus {
  &:hover,
  &:focus {
    @slot;
  }
}

@utility opacity-less {
  opacity: 0.7;
}

@utility stack {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

@utility stack-* {
  display: flex;
  flex-direction: column;
  gap: --spacing(--value(number));
}

@layer components {
  .btn-click-soft {
    @apply active:scale-98 transition-transform ease-in duration-85;
  }

  .gen-main {
    @apply grid md:grid-cols-[60%_40%] max-w-7xl w-full mx-auto max-xs:p-2 max-sm:p-4 max-md:p-6 z-5 grow;
  }

  .filter-input-group {
    @apply stack-0 justify-around px-1 rounded-lg shadow-md shadow-slate-100 border-2 border-amber-500;
  }

  .property-img-outline {
    @apply outline-2 outline-slate-500/12;
  }
}
